.wrapper{
  display: flex;
}

/*サイドバー*/

.side-bar{
  width: 300px;
  height: 100vh;
}

.side-bar_top{
  width: 100%;
  height: 100px;
  background-color: #253141;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top_name a{
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}


.create_chat a{
  font-size: 10px;
  color: deepskyblue;
  margin: 14px;
  border: 1px solid lightblue;
  text-decoration: none;
  padding: 14px;
}

.side-bar_text{
  width: 100%;
  height: calc(100vh - 100px);
  background-color: #2F3E51;
  padding: 0 20px;
  overflow: scroll;
}

.room{
  padding: 20px 0 40px;
}

.room-name a{
  text-decoration: none;
  color: white;
}

/*チャット*/

.chat{
  width: calc(100vw - 300px);
  background-color: #ffffff;
}

.chat_top{
  width: 100%;
  height: 100px;
  background-color: #FFFFFF;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.chat_name{
  padding-top: 36px;
  font-size: 24px;
  color: #333;
}

.chat_end{
  margin-top: 40px;
}

.chat_end a{
  border: 1px solid darkred;
  text-decoration: none;
  padding: 20px;
  color: darkred;
}

.chat_text{
  width: 100%;
  height: calc(100vh - 190px);
  background-color: #FAFAFA;
  padding: 46px 40px 0 ;
}

.chat_bottom{
  height: 90px;
  background-color: #DDDDDD;
  padding: 20px 40px;
  display: flex;
}

.contact-form{
  width: 100%;
  background-color: white;
  display: flex;
}

.name-form{
  width: 100%;
  height: 50px;
  padding-left: 10px;
  border: none;
}

.send{
  background-color: #38AEF0;
  border: none;
  padding: 0 20px;
  margin-left: 15px;
}

.form-image{
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden{
  display: none;
}







